/* general html stuff */
p.error {
  color: red;
}
/* overrides */
.navbar-inverse .navbar-nav > li > a {
   color: black; /*Change active text color here*/
}
/* Header Properties =========================================================*/
.mainheader {
  background-color: #611515;
  color: #ecf0f1;
  font-size: 300%;
  /* padding-top: 30px; */
}
.header {
  background-color: #611515;
  color: #ecf0f1;
  height: 150px;
}
/* Body ======================================================================*/
body {
  font-family: 'Open Sans', serif;
  background-color: #EEEEEE;
}
.mainsubtitle {
  color: #D2D7D3;
  padding-top: 0px;
  margin-top: 0px;
}
.subtitle {
  color: #D2D7D3;
  font-size: 150%;
  padding-top: 0px;
  margin-top: 0px;
}
.center-align {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Navigation ================================================================*/
.nav li:hover {
  background: #7f8c8d;
}
.navbar-default {
    background-color: #e1e1e1;
}
.navigation-whole {
  background-color: #F2F1EF;
  border-color: #7f8c8d;
  color: #34495e;
}
.navigation-whole:visited {
  color: black;
}
.navigation-focus {
  color: white !important;
  background: #451313;
}
.navigation-focus:hover {
  color: white !important;
  background: #212121 !important;
}
/* Table =====================================================================*/
.table-whole {
  border-color: transparent;
  border-collapse: collapse;
}
table th {
    font-weight: 600;
    font-size: 1.1em;
    text-align: left;
    background: #96281B;
    color: #ecf0f1;
}
table td {
    background: transparent;
}
/* Footer ====================================================================*/
.footer {
  text-align: center;
  background-color: #611515;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-header {
  text-align: center;
  color: #ECF0F1;
  padding-top: 15px;
}
.footer-subtext {
  color: #BDC3C7;
}
/* Gallary ===================================================================*/
.gallary-big {
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 50%;
}
.gallary-small {
  margin: 25px 25px 25px 25px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
