/* general html stuff */
p.error {
  color: red;
}
/* overrides */
.navbar-inverse .navbar-nav > li > a {
   color: black; /*Change active text color here*/
}
/* Body ======================================================================*/
body {
  font-family: 'Open Sans', serif;
}
.subtitle {
  color: #CFD8DC;
  padding-top: 0px;
  margin-top: 0px;
}
.page-body {
  background-color: #2c3e50;
}
.body-title {
  background-color: #212F3C;
}
.part-header {
  color: #ecf0f1;
}
.part-subheader {
  color: #95a5a6;
}
/* Navigation ================================================================*/
.nav li:hover {
  background: #7f8c8d;
}
.navbar-default {
    background-color: #e1e1e1;
}
.navigation-whole {
  background-color: #F2F1EF;
  border-color: #7f8c8d;
  color: #34495e;
}
.navigation-whole:visited {
  color: black;
}
.navigation-focus {
  color: white !important;
  background: #212121;
}
.navigation-focus:hover {
  color: white !important;
  background: #212121 !important;
}
/* Table =====================================================================*/
.table-whole {
  border-color: transparent;
  border-collapse: collapse;
}
table {
    background: #17202A;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    width: 50%;
    border-spacing: 0px;
    border-collapse: separate;
}
table th {
    font-weight: 600;
    font-size: 1.1em;
    text-align: left;
    background: #212121;
    color: #ecf0f1;
}
table td {
    background: transparent;
}
tr:nth-child(even) {
  background: #EBEDEF;
  color: white;
  border-bottom: 0px;
}
/*td:nth-child(odd) {
  background: #566573;
  color: white;
  border-bottom: 0px;
}*/
/* Heaeder ===================================================================*/
.header {
  background-color: #212F3C;
  color: white;
}
/* Footer ====================================================================*/
.footer {
  text-align: center;
  background-color: #ECEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-header {
  text-align: center;
  color: black;
  padding-top: 15px;
}
.footer-subtext {
  color: gray;
}
/* Gallary ===================================================================*/
.gallary-big {
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 50%;
}
.gallary-small {
  margin: 25px 25px 25px 25px;
}
